certifi
chardet
Click
clickclick
connexion
idna
inflection
itsdangerous
Jinja2
jsonschema
MarkupSafe
pathlib
ptyprocess
python-dateutil
PyYAML
requests
six
tornado
urllib3
Werkzeug
zc.buildout
markdown2
jsonref
flex
