certifi
chardet
Click
clickclick
connexion
idna
inflection
itsdangerous
Jinja2
jsonschema
MarkupSafe
openapi-spec-validator
pathlib
ptyprocess
python-dateutil
PyYAML
requests
six
tornado
urllib3
Werkzeug
zc.buildout
